{% load static %}
{% block content %}
<aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            
            
            <form action="{% url 'search' %}"  class="search-form">
              <div class="form-group">
                <input type="text" name="sea" id="sea" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]-->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            {% for latest in latest  %}
            
            <div class="blog-posts"><a href="{% url 'postpage' latest.id %}">
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{latest.postImage.url}}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{latest.title|truncatechars:20}}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i> {{latest.views}}</div>
                      <div class="comments"><i class="icon-comment"></i>{{latest.get_comments.count}}</div>
                    </div>
                  </div>
                </div>
          </div>
            {% endfor %}      
          
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cats  in cat  %}
            <div class="item d-flex justify-content-between"><a href="#">{{cats}}</a><span>{{catc}}</span></div>
            {% endfor %}
          </div>
          

          <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
            {% for cat  in cat  %}
              <li class="list-inline-item"><a href="#" class="tag">#{{cat}}</a></li>
            {% endfor %}
            </ul>
          </div>
        </aside>
{% endblock content %}